<!DOCTYPE html>
<html>
  <head>
    <title>Reservation Successful</title>
  </head>

  <style>
    body {
      margin: 100px;
      align-items: center;
      text-align: center;
    }
    .button-style {
      display: inline-block;
      padding: 8px 16px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      align-self: flex-end; /* Align to the right side */
    }
    .button-style:hover {
      background-color: #0056b3;
    }
  </style>
  <body>
    <h1>Reservation Confirmed!</h1>
    <p>A confirmation email has been sent to your contact address.</p>
    <a class="button-style" href="{% url 'accommodation_list' %}"
      >Back to home</a
    >
  </body>
</html>
